---
layout: page
---

<div class="container">

  <section id="fulfillment">
<h1>Cumplimiento de avance</h1>
<p class="destacado">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque aliquet consequat sollicitudin. Proin ac enim in risus scelerisque auctor. Duis sollicitudin mi porta ipsum tincidunt vehicula. Curabitur sollicitudin turpis eget sapien dapibus, eget condimentum lectus facilisis.</p>
    <div class="panel-heading">
      <div class="row">
        <div class="hidden-xs col-sm-3 col-md-4">
          <h4>Categorías</h4>
        </div>
        <div class="hidden-xs col-sm-5 col-md-6">
          <h4>Porcentaje de avance</h4>
        </div>
        <div class="hidden-xs col-sm-4 col-md-2">
          <h4>Escala de coherencia </h4>
          <h5>(1 a 4)</h5>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default" ng-repeat="p in analisis.promisses">
            <div class="panel-heading" role="tab" id="headingOne-[[p.id]]">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <h2 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-[[p.id]]" aria-expanded="false" aria-controls="collapseOne-[[p.id]]">
                      [[p.category]]
                    </a>
                  </h2>
                  <div>
                    [[p.data.length]] promesa(s)
                    <ul class="list-inline">
                      <li>completas</li>
                      <li>incompletas</li>
                      <li>sin progreso</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-6 col-md-6">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="[[p.cumplimiento_total]]" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: [[p.cumplimiento_total]]%;">
                      [[p.cumplimiento_total]]%
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2">[[p.coherencia_total]]</div>
              </div>
            </div>

            <div id="collapseOne-[[p.id]]" ng-class='{in:$first}' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-[[p.id]]">
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Promesa</th>
                      <th>Porcentaje de avance</th>
                      <th>Escala de coherencia (1 a 4)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="data in p.data">
                      <td>[[data.promesa]]</td>
                      <td>[[data.cumplimiento_total]]</td>
                      <td>[[data.coherencia_total]]</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </section>
</div>