---
layout: page
---
<div class="container">
  <section id="fulfillment">

    <div class="panel-heading">
      <div class="row">
        <div class="hidden-xs col-sm-3 col-md-4">
          <h4>Categorías</h4>
        </div>
        <div class="hidden-xs col-sm-5 col-md-6">
          <h4>Porcentaje de avance</h4>
        </div>
        <div class="hidden-xs col-sm-4 col-md-2">
          <h4>Escala de coherencia </h4>
          <h5>(1 a 4)</h5>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default" ng-repeat="p in analisis.promisses">
            <div class="panel-heading" role="tab" id="headingOne-[[p.id]]">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <h2 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-[[p.id]]" aria-expanded="false" aria-controls="collapseOne-[[p.id]]">
                      [[p.category]]
                    </a>
                  </h2>
                  <div>
                    [[p.data.length]] promesa(s)
                    <ul class="list-inline">
                      <li>[[p.status.completas]] completas</li>
                      <li>[[p.status.incompletas]] incompletas</li>
                      <li>[[p.status.sin_progreso]] sin progreso</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-6 col-md-6">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="[[p.cumplimiento_total]]" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: [[p.cumplimiento_total]]%;">
                      [[p.cumplimiento_total]]%
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2">
                  [[p.coherencia_total]]
                </div>
              </div>
            </div>

            <div id="collapseOne-[[p.id]]" ng-class='{in:$first}' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-[[p.id]]">
              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Promesa</th>
                      <th>Porcentaje de avance</th>
                      <th>Escala de coherencia (1 a 4)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="data in p.data">
                      <td>[[data.promesa]]</td>
                      <td>
                        <p>[[data.cumplimiento_total]]</p>
                        <p>de avance</p>
                        <p><a href="#" data-toggle="modal" data-target="#myModal-cumplimiento-[[p.id]]-[[data.id]]">¿Por qué?</a></p>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal-cumplimiento-[[p.id]]-[[data.id]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">[[data.cumplimiento_total]] de avance - ¿por qué?</h4>
                              </div>
                              <div class="modal-body">
                                [[data.justificacion_avance]]
                              </div>
                            </div>
                          </div>
                        </div>


                      </td>
                      <td>
                        <p>[[data.coherencia_total]]</p>
                        <p>escala de coherencia</p>
                        <p><a href="#" data-toggle="modal" data-target="#myModal-coherencia-[[p.id]]-[[data.id]]">¿Por qué?</a></p>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal-coherencia-[[p.id]]-[[data.id]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">[[data.coherencia_total]] escala de coherencia - ¿por qué?</h4>
                              </div>
                              <div class="modal-body">
                                [[data.justificacion_nota]]
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>




              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </section>
</div>